.contenidoCentral {
    height: 700px;
    width: 1200px;
    margin: 40px auto;
    padding: 10px;
    border: 3px black solid;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.textoHome {
    width: 450px;
}

h1 {
    font-size: 25px;
    margin-bottom: 100px;
}

.imgCarrusel {
    width: 400px;
}