.custom-div {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

.doctor-img {
    object-fit: contain;
    width: 100px;
    height: 100px;
}
.calendar-img {
    max-width: 50px; /* Ajusta el tamaño de la imagen del calendario */
    height: auto;
}